.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill-card {
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    flex-basis: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.skill-card h3 {
    text-align: center;
    margin: 0.5rem 0;
}