.typewriter h2 {
    font-size: 2rem;
    color: #49557e;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid none;
    font-family: monospace;
  }
  .typewriter h2 span {
    color: tomato;
  }
  .typewriter .cursor {
    display: inline-block;
    border-left: 0.1em solid black;
    animation: blink 0.7s steps(1) infinite;
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  